.modal-header {
    border-bottom: none !important;
}

.modal-title
{
    color :black;
}

.modal-title.ng-title {
    color: #fff; /* red */
    font-weight: 600;
}

.offcanvas-title.ng-title {
    color: #fff; /* red */
    font-weight: 600;
}